.hero-text {
  max-width: 650px;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;

  .container {
    justify-content: left;

    .navbar-brand {
      margin-right: 0.3rem;
    }
  }
}